<?xml version="1.0"?>
<launch>
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="log" >
    <param name="video_device" value="/dev/video1" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  </node>
    
  <node name="detector" pkg="detector" type="detector_node" output="screen">
    <rosparam file="$(find detector)/cfg/detector.yaml"/>
    <rosparam file="$(env HOME)/.ros/camera_info/head_camera.yaml"/>
    <remap from="image" to="/usb_cam/image_raw"/>
    <remap from="bounding_boxes" to="bounding_boxes"/>
    <remap from="object_poses" to="object_poses"/>
    <remap from="undist_image" to="undist_image"/>
    <remap from="marked_image" to="marked_image"/>
  </node>

</launch>
